<!DOCTYPE html>
<div class="container">
    <h2>Database Results</h2>
    Hello there! I access the postgresql database for this app!
    <!-- <ul>
   <br>
        <li>
            <% result.forEach(function(r) { %>
                <li><%= r.title_id %> - <%= r.title_name %></li>
            <% }); %>
        </li>  
    </ul> -->
    Yo. Genres Not Loading Yet.
</div>