<!DOCTYPE html>

    <h1>Welcome! </h1>
    <h2>Log In</h2>
    <form id="login" class="forms"
    action="/browse" method="POST">
            <label>Name: </label>
            <input type="text" id="name" name="name" autofocus/><br/>
        <label>Password: </label>
        <input id="password" type="password" name="password"/><br>
        <input id="loginBtn" type="submit" value="Submit"/>
    </form>