<!DOCTYPE html>
<form id="addLinkForm" method="GET" action="/add">
    <button type="submit">Add Media</button>
</form>
    <form id="searchTypeForm" action="/searchType" method="POST">
        <input type="text" id="typeInput"/>
        <button type="submit" id="typeBtn" >Search By Type</button>
    </form><br><br>
    <form id="searchAllForm" action="/searchAll" method="POST">
        <button type="submit" id="browseBtn" >Browse All</button>
    </form><br><br>
    <form id="searchGenreForm" action="#" method="">
        <input type="radio" name="genreInput" id="1" value="Action"/>
        <label for="1">Action</label><br>
        <input type="radio" name="genreInput" id="2" value="Science Fiction"/>
        <label for="2">Science Fiction</label><br>
        <input type="radio" name="genreInput" id="3" value="Fantasy"/>
        <label for="3">Fantasy</label><br>
        <input type="radio" name="genreInput" id="4" value="Comedy"/>
        <label for="4">Comedy</label><br>
        <input type="radio" name="genreInput" id="5" value="Romance"/>
        <label for="5">Romance</label><br>
        <input type="radio" name="genreInput" id="6" value="Western"/>
        <label for="6">Western</label><br>
        <input type="radio" name="genreInput" id="7" value="Anime"/>
        <label for="7">Anime</label><br>
        <input type="radio" name="genreInput" id="8" value="Animation"/>
        <label for="8">Animation</label><br>
        <input type="radio" name="genreInput" id="9" value="Drama"/>
        <label for="9">Drama</label><br><br>
        <button type="submit" id="genreBtn">Search By Genre</button>
    </form>
