<!DOCTYPE html>
<div class="container">
    <form id="searchTypeForm" action="/searchType" method="POST">
        <input type="text" id="typeInput"/>
        <button type="submit" id="typeBtn" >Search By Type</button>
    </form>
    <form id="searchAllForm" action="/searchAll" method="POST">
        <button type="submit" id="browseBtn" >Browse All</button>
    </form>
    <form id="searchGenreForm" action="#" method="">
        <input type="radio" name="genreInput" id="1"/>
        <input type="radio" name="genreInput" id="2"/>
        <input type="radio" name="genreInput" id="3"/>
        <input type="radio" name="genreInput" id="4"/>
        <input type="radio" name="genreInput" id="5"/>
        <input type="radio" name="genreInput" id="6"/>
        <input type="radio" name="genreInput" id="7"/>
        <input type="radio" name="genreInput" id="8"/>
        <input type="radio" name="genreInput" id="9"/>
        <button type="submit" id="genreBtn">Search By Genre</button>
    </form>
</div>