<!DOCTYPE html>
<br><br>
<form id="addLinkForm" method="GET" action="/add">
    <button type="submit" id="addBtn">Add Media</button>
</form><br><br>
    <form id="searchTypeForm" action="searchType">
        <input type="radio" id="film" name="typeInput"/>
        <label for="film">Film</label>
        <input type="radio" id="tv" name="typeInput"/>
        <label for="tv">TV</label>
        <input type="radio" id="game" name="typeInput"/>
        <label for="game">Game</label><br>
        <button type="submit" id="typeBtn" >Search By Type</button>
    </form><br><br>


    
    <form id="searchAllForm" action="/searchAll" method="GET">
        <button type="submit" id="browseBtn" >Browse All</button>
    </form><br><br>

    <form id="searchGenreForm" action="searchGenre" method="">
        <input type="radio" name="genreInput" id="1" value="Action"/>
        <label for="1">Action</label><br>
        <input type="radio" name="genreInput" id="2" value="Science Fiction"/>
        <label for="2">Science Fiction</label><br>
        <input type="radio" name="genreInput" id="3" value="Fantasy"/>
        <label for="3">Fantasy</label><br>
        <input type="radio" name="genreInput" id="4" value="Comedy"/>
        <label for="4">Comedy</label><br>
        <input type="radio" name="genreInput" id="5" value="Romance"/>
        <label for="5">Romance</label><br>
        <input type="radio" name="genreInput" id="6" value="Western"/>
        <label for="6">Western</label><br>
        <input type="radio" name="genreInput" id="7" value="Anime"/>
        <label for="7">Anime</label><br>
        <input type="radio" name="genreInput" id="8" value="Animation"/>
        <label for="8">Animation</label><br>
        <input type="radio" name="genreInput" id="9" value="Drama"/>
        <label for="9">Drama</label><br><br>
        <input type="radio" name="genreInput" id="10" value="Game"/>
        <label for="10">Game</label><br><br>
        <button type="submit" id="genreBtn">Search By Genre</button>
    </form>
