<!DOCTYPE html>
<div class="container">
    <h2>Type Results</h2>
    Hello there! I access the postgresql database for this app!<br>
    <ul>
        <li>
            <% resultFilm.forEach(function(s) { %>
                <li><%= s.title_id %> - 
                    <%= s.title_name %></li>
            <% }); %>
        </li>
    </ul>
</div>