<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/header.ejs %>
</head>
<body>
    Yo. Yo.
    <form action="/createnew" method="post">
        <div>
            <label>Name:</label>
            <input type="text" name="name" placeholder="John Doe"/><br/>
        </div>
        <div>
            <label>Email:</label>
            <input type="text" name="email" placeholder="john@example.com"/><br/>
            </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
            <div>
            <input type="submit" value="Submit"/>
        </div>
    </form>
</body>
</html>