<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/header.ejs %>
</head>
<body>
    <div class="container">
        <h2>Database Results</h2>
        <ul>
        Hello there! I access the postgresql database for this app!<br>
        <% tableThree.forEach(function(three) { %>
            <li>
                <%= three.id %>
            </li>
            <li>
                <%= three.name %>
            </li>
            <li>
                <%= three.email_address %>
            </li>
        </ul>
    </div>
    </body>
    </html>