<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/header.ejs %>
</head>
<body>
    <p>
        ID: <%= user.id %><br/>
        <!-- Email: <%= user.email %><br/> -->
        Name: <%= user.name %><br/>
        </p>
        <a href="/logout">Log out</a>
</body>
</html>