/* HEX colors*/
:root {
  --color-dark: #1D3461;
  --color-dark-two: #1F487E;
  --color-accent: #6290C8;
  --color-light: #376996;
  --color-light-two: #829CBC;
  --black: #0D1321;

}
html {
	position: relative;
  	min-height: 100%;
}
.navpills.li {
	border-radius: 8px;
	color: var(--black);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif	
}
.jumbotron {
	background-color: var(--color-dark-two);
	padding: 30px;
	color: var(--color-accent);
}
body {
  background-color: var(--color-light-two);
  width: 100%;
  height: auto;
  align-content: center;
  justify-content: center;
  color: var(--black);
  margin-bottom: 30px;
}
row {

}
h1 {
	color: var(--color-accent);
}
.col-sm-3 {
	max-width: 25%;
	max-height: 100%;
	float: left;
	position: relative;
	background-color: var(--color-light-two);
	color: var(--black);
	padding: 50px;
	margin: 0px;
}
.col-sm-9 {
	max-width: 75%;
	float: right;
	position: relative;
	max-height: 100%;
	background-color: var(--color-light-two);
	color: var(--black);
	padding: 20px;
	margin: 0px;
}
.sidenav {

}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.formDiv {

}
.container-fluid {

}
forms {

}
/*index page*/
#loginBtn {

}
#loginDiv {

}
/*index page*/
/*browse page*/
.browseDiv {

}
/*browse page*/
/*searchForms*/
/*sample API*/
#sampleAPIForm {
	
}
#googleBtn {

}
/*sample API*/
/*searchAll*/
#searchAllForm {

}
#browseBtn {

}
/*addMedia*/
#addInfoForm {

}
#media_title {
	max-width: 80%;
}
#addInfoMedia {

}
/*searchType*/
#searchTypeForm {

}
#film {

}
button {
	background-color: var(--color-accent);
	color: var(--black);
	border-radius: 8px;
}
input {
	background-color: var(--color-accent);
	color: var(--black);
	border-radius: 8px;
}
#tv {

}
#game{

}
#typeBtn {

}
/*searchGenre*/
#searchGenreForm {

}
radio {
	background-color: var(--color-accent);
	color: var(--black);
}
#genreBtn {

}
/*searchForms*/
/*type page*/
#typeDiv {

}
/*type page*/
/*search page*/
#searchDiv {

}
/*search page*/
/*genre page*/
#genreDiv {

}
/*genre page*/
/*add page*/
#searchDiv {

}
/*add page*/
.footer {
  	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	max-height: fit-content;
	background-color: var(--color-dark);
	color: var(--color-accent);
	text-align: center;
}
#footerDiv {
	align-content: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	[class*="col-"] {width: 50%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* For tablets: */
  [class*="col-"] {width: 50%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 /* For desktop: */
	.col-1 {width: 8.33%;}
  	.col-2 {width: 16.66%;}
  	.col-3 {width: 25%;}
  	.col-4 {width: 33.33%;}
  	.col-5 {width: 41.66%;}
  	.col-6 {width: 50%;}
  	.col-7 {width: 58.33%;}
  	.col-8 {width: 66.66%;}
  	.col-9 {width: 75%;}
  	.col-10 {width: 83.33%;}
  	.col-11 {width: 91.66%;}
  	.col-12 {width: 100%;}

} 

* {
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: middle;
	padding: 15px;
}
