body {
  position: relative;
  background-color: rgb(245, 235, 235);
  width: 50%;
  height: auto;
  align-content: center;
  justify-content: center;
  margin-left:25%;
  margin-right:25%;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}

#loginBtn {

}
#profileBtn {

}
#loginDiv {

}
#profileDiv {
  
}