<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/header.ejs %>
</head>
<body>
    <form class="forms" action="/createnew" method="post">
            <label>Name:</label>
            <input type="text" id="inputName" name="name" placeholder="John Doe"/><br/>
            <label>Email:</label>
            <input type="text" id="inputEmail" name="email" placeholder="john@example.com"/><br/>
            <label>Password:</label>
            <input type="password" id="inputPwd" name="password"/>
            <input type="submit" id="createBtn" name="createBtn" value="Submit"/>
    </form>
</body>
</html>