<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <p>
        <h1>Admin</h1>
        <% include ../partials/profile.ejs %>
    </p>
    <script src="../../public/main.js"></script>
</body>
</html>