<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container">
        <div id="formDiv">
            <% include ../partials/searchForms.ejs %>
        </div>
    </div>
</body>
</html>