<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container">
        <div class="jumbotron"></div>
        <div id="browseDiv" class="col-sm-3 sidenav navbar formDiv">
            <% include ../partials/searchForms.ejs %>
        </div>
    </div>
    <script src="../../public/main.js"></script>
</body>
<footer class="footer"></footer>
</html>