<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container">
        <div id="idDiv">
            <a href="/add">Click Here to Add Media</a>
        </div><br>
        <div id="formDiv">
            <% include ../partials/searchForms.ejs %>
        </div>
    </div>
    <script src="../../public/index.js"></script>
</body>
</html>