<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<header>
    <% include ../partials/jumbo.ejs %>
</header>
<body>
    <div class="container-fluid">
            <div id="browseDiv" class="row col-sm-12 navbar">
                <% include ../partials/searchForms.ejs %>
            </div>
    </div>
    <script src="../../public/main.js"></script>
</body>
<footer class="footer"></footer>
</html>