<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container">
        <div id="formDiv" class="col-sm-9 sidenav">
            <% include ../partials/searchForms.ejs %>
        </div>
        <div id="genreDiv" class="col-sm-3">
            <h2>Genre Results</h2>
            <table>
                <tr>
                    <th>Media ID</th>
                    <th>Media Name</th>
                    <th>Media Type</th>
                    <th>Media Genre</th>
                </tr>
                <% result.forEach(function(s) { %>
                <tr>
                    <td><%= s.title_id %></td>
                    <td><%= s.title_name %></td>
                    <td><%= s.media_type %></td>
                    <td>  <%= s.genre_type %></td><% }); %>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>