<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container">
        <a href="/add">Click Here to Add Media</a><br>
        <% include ../partials/searchForms.ejs %>
    </div>
    <div id="genreDiv">
        <h2>Genre Results</h2>
        <!-- <ul>
       <br>
            <li>
                <% result.forEach(function(r) { %>
                    <li><%= r.title_id %> - <%= r.title_name %></li>
                <% }); %>
            </li>  
        </ul> -->
        Yo. Genres Not Loading Yet.
    </div>
    <script src="../../public/index.js"></script>
</body>
</html>