<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div id="welcomeDiv">
        <div id="loginDiv">
            <% include ../partials/login.ejs %>
        </div>
    </div>
    <script src="../../public/main.js"></script>
</body>
</html>