<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div id="welcomeDiv" class="visible">
        <% if (!user) { %>
            <p>Welcome! Please 
                <input id="loginBtn" type="button" value="Log In"/> <!--this should trigger eventlistener to change loginDiv to visible from hidden-->
            </p>            
        <% } else { %>
            <p>
                Hello, <%= user.name %><br> 
                Click <a href="/main">Here</a> 
                to View the Database
                <!--reroute to db page-->
            </p>
            <p>
                Or view your <input type="button" id="profileBtn" value="Profile"/>
                <!--currently not working b/c else statement scope keeps var from being init-->
                <!--trigger eventlistener to change profileDiv to visible from hidden-->
            </p>
            <p>
                Or <a href="logout">Log Out</a>
            </p>
        <% } %>
    </div>
    <div id="loginDiv" class="hidden">
        <% include ../partials/login.ejs %>
    </div>
    <div id="profileDiv" class="hidden">
        <% if (user) { %> 
            <% include ../partials/profile.ejs %> 
            <% } %> 
    </div>
    <script src="../../public/index.js"></script>
</body>
</html>