<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>
    Yo.
    <h1>Index</h1>
    <p>
        <% include ../partials/home.ejs %>
    </p>
    <script src="../../public/main.js"></script>
</body>
</html>