<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Yo.
    <% if (!user) { %>
        <p>Welcome! Please <a href="/login">log in</a>.</p>
    <% } else { %>
        <p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
    <% } %>
</body>
</html>