<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="visible">
        <% if (!user) { %>
            <p>Welcome! Please <a href="/login">log in</a>.</p>            
        <% } else { %>
            <p>Hello, <%= user.name %>. View the <a href="/main">database</a>.</p>
            <!-- <p>Or view your <a href="/profile"> profile</a>.</p> -->
        <% } %>
    </div>
    <div class="hidden">

    </div>
    <div class="hidden">

    </div>
</body>
</html>