<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<header>
    <% include ../partials/jumbo.ejs %>
</header>
<body>
    <div id="welcomeDiv" class="container-fluid">
        <div id="loginDiv" class="row col-sm-12 formDiv">
            <% include ../partials/login.ejs %>
        </div>
    </div>
    <script src="../../public/main.js"></script>
</body>
<footer class="footer">
    <% include partials/footer.js %>
</footer>
</html>