<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <a href="/add">Click Here to Add Media</a><br>
    <div class="container">
        <% include ../partials/browse.ejs %>
    </div>
    <script src="../../public/index.js"></script>
</body>
</html>
    