<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <a href="/add">Click Here to Add Media</a><br>
    <div class="container">
        <h2>Database Results</h2>
        <ul>
        Hello there! I access the postgresql database for this app!<br>
            <li>
                <% result.forEach(function(r) { %>
                    <li><%= r.title_id %> - <%= r.title_name %></li>
                <% }); %>
            </li>  
        </ul>
    </div>
    <div>
        <form id="searchTypeForm" action="/searchType" method="POST">
            <input type="text" id="typeInput"/>
            <button type="submit" id="typeBtn" >Search By Type</button>
        </form>
        <form id="searchAllForm" action="/searchAll" method="POST">
            <button type="submit" id="browseBtn" >Browse All</button>
        </form>
        <form id="searchGenreForm" action="#" method="">
            <input type="radio" name="genreInput" id="1"/>
            <input type="radio" name="genreInput" id="2"/>
            <input type="radio" name="genreInput" id="3"/>
            <input type="radio" name="genreInput" id="4"/>
            <input type="radio" name="genreInput" id="5"/>
            <input type="radio" name="genreInput" id="6"/>
            <input type="radio" name="genreInput" id="7"/>
            <input type="radio" name="genreInput" id="8"/>
            <input type="radio" name="genreInput" id="9"/>
            <button type="submit" id="genreBtn">Search By Genre</button>
        </form>
         <!--general display div for all searches-->
        <div id="typeDiv" class="hidden">
            <% include ../partials/type.ejs %>
            <!--alphabetical listing for searchAll, searchGenre, create dynamically w/alpha et results loop for li-->
          <!--   <ul id="alphaList" class="hidden"> alphaList == stretch goal
            </ul> -->
            <!--if searchTitle, display all w/direct match for title parts excluding articles (regex)-->
            <!--display here w/alphaList hidden sed displayDiv visible-->
        </div>
        <div id="browseDiv" class="visible">
            <% include ../partials/browse.ejs %>
        </div>
        <div id="genreDiv" class="hidden">
            <% include ../partials/genre.ejs %>
        </div>
    </div>
    <script src="../../public/index.js"></script>
</body>
</html>
    